{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="card card-body md-4 ">
            <form action="/update/{{no.0}}" method="POST">
                <div class="form-group">
                    <p class="TituloE">TIPO
                    <input type="text" class="form-control" name="tipo" value="{{no.1}}" required>
                    </p>
                </div>
                <div class="form-group">
                    <p class="TituloE">TITULO
                    <input type="text" class="form-control" name="titulo" value="{{no.2}}" required>
                    </p>
                </div>
                <div class="form-group">
                    <p class="TituloE">CONTENIDO
                    <input type="text" class="form-control" name="texton" value="{{no.3}}" required>
                    </p>
                </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">
                ACTUALIZAR
                </button>
            </div>
            </form>
        </div>
    </div>

{% endblock %}
