{% extends "layout.html" %}
{% block body %}

    {% with messages = get_flashed_messages()  %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="col">
    <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <p></p>
        <thead>
            <tr>
                <td bgcolor= "#1768AC" class="TDTitulo">TIPO USUARIO</td>
                <td bgcolor= "#1768AC" class="TDTitulo">USUARIO</td>
                <td bgcolor= "#1768AC" class="TDTitulo">TIPO</td>
                <td bgcolor= "#1768AC" class="TDTitulo">TITULO</td>
                <td bgcolor= "#1768AC" class="TDTitulo">NOTA</td>
                <td bgcolor= "#1768AC" class="TDTitulo">ELIMINAR</td>
            </tr>
        </thead>
        <tbody>
        {% for us in usuar %}
        <thead>
            <tr>
                <td>{{us.0}}</td>
                <td>{{us.1}}</td>
                <td>{{us.2}}</td>
                <td>{{us.3}}</td>
                <td>{{us.4}}</td>
                <td>
                    <a href="/deleteu/{{us.5}}" class="boton btn btn-danger btn-delete TDTitulo">Eliminar</a>
                </td>
            </tr>
        </thead>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
